<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoy.dao.CultivateDao">

    <insert id="saveCultivate" parameterType="Cultivate">
        INSERT INTO cultivate(name,crea_time,cultivate_time,department_id) VALUES(
        #{name},#{creaTime},#{cultivateTime},#{departmentId});
    </insert>

    <update id="updateCultivate" parameterType="Cultivate">
        UPDATE cultivate SET name=#{name},cultivate_time=#{cultivateTime},department_id=#{departmentId} WHERE id=#{id};
    </update>

    <delete id="delCultivate" parameterType="int">
        DELETE FROM cultivate WHERE id=#{id};
    </delete>

    <select id="findCultivateById" resultType="Cultivate">
        SELECT * FROM cultivate WHERE id=#{id};
    </select>

    <select id="findCultivateByDepartmentId" resultType="Cultivate">
        SELECT * FROM cultivate WHERE department_id=#{departmentId} ORDER BY cultivate_time DESC;
    </select>

    <select id="findCultivateByCultivateTime" resultType="Cultivate">
        SELECT * FROM cultivate WHERE cultivate_time like CONCAT('%',#{cultivateTime},'%') ORDER BY cultivate_time DESC;
    </select>

    <select id="findAllCultivate" resultType="Cultivate">
        SELECT * FROM cultivate ORDER BY cultivate_time DESC;
    </select>
</mapper>