<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoy.dao.FeedbackDao">

    <insert id="saveFeedback" parameterType="Feedback">
        INSERT INTO feedback(recruit_id,crea_time,status,interview,interview_time,admit,visitor_id) VALUES(
        #{recruitId},#{creaTime},#{status},#{interview},#{interviewTime},#{admit},#{visitorId});
    </insert>

    <update id="updateFeedback">
        UPDATE feedback SET status=#{1},interview=#{2},admit=#{3} WHERE id=#{0};
    </update>

    <delete id="delFeedback" parameterType="int">
        DELETE FROM feedback WHERE id=#{id};
    </delete>

    <select id="findFeedbackByInterview" resultType="Feedback">
        SELECT * FROM feedback WHERE interview=#{interview};
    </select>

    <select id="findFeedbackByInterviewTime" resultType="Feedback">
        SELECT * FROM feedback WHERE interview_time LIKE CONCAT ('%',#{0},'%') AND visitor_id=#{1};
    </select>

    <select id="findFeedbackByVisitorId" resultType="Feedback">
        SELECT * FROM feedback WHERE visitor_id=#{visitorId};
    </select>

    <select id="findFeedbackByVisitorIdAndStatus" resultType="Feedback">
        SELECT * FROM feedback WHERE visitor_id=#{0} AND status=#{1};
    </select>
</mapper>