<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoy.dao.PayDao">

    <insert id="savePay" parameterType="Pay">
        INSERT INTO pay(pay_time,base_pay,performance_bonus,prize_pay,social_security,all_pay,employee_id) VALUES(
        #{payTime},#{basePay},#{performanceBonus},#{prizePay},#{socialSecurity},#{allPay},#{employeeId});
    </insert>

    <select id="findPayByEmployeeId" parameterType="int" resultType="Pay">
        SELECT * FROM pay WHERE employee_id=#{employeeId};
    </select>

    <select id="findPayByPayTime" resultType="Pay">
        SELECT * FROM pay WHERE pay_time LIKE CONCAT('%',#{payTime},'%');
    </select>

    <select id="findPayByPayTimeAndEmployeeId" resultType="Pay">
        SELECT * FROM pay WHERE pay_time LIKE CONCAT('%',#{0},'%') AND employee_id=#{1};
    </select>

    <select id="findAllPay" resultType="Pay">
        SELECT * FROM pay;
    </select>

    <select id="findPayById" resultType="Pay">
        SELECT * FROM pay WHERE id=#{id};
    </select>
</mapper>