<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoy.dao.PositionDao">

    <insert id="savePosition" parameterType="Position">
        INSERT INTO positions(name,crea_time,department_id) VALUES(#{name},#{creaTime},#{departmentId});
    </insert>

    <delete id="delPosition" parameterType="int">
        DELETE FROM positions WHERE id=#{id};
    </delete>

    <select id="findPositionById" resultType="Position">
        SELECT * FROM positions WHERE id=#{id};
    </select>

    <select id="findAllPosition" resultType="Position">
        SELECT * FROM positions;
    </select>

    <select id="findPositionByName" resultType="Position">
        SELECT * FROM positions WHERE name=#{1} AND department_id=#{0};
    </select>

    <select id="findPositionByDepartmentId" resultType="Position">
        SELECT * FROM positions WHERE department_id=#{departmentId}
    </select>
</mapper>